<h1> Cadastro de pessoa</h1>
        <input type="text" [(ngModel)]="pessoa.id" name="id" placeholder="Id">
        <br/>
        <br/>
        <input type="text" [(ngModel)]="pessoa.nome" name="nome" placeholder="Nome">
        <br/>
        <br/>
        <input type="text" [(ngModel)]="pessoa.sobrenome" name="sobrenome" placeholder="Sobrenome">
        <br/>
        <br/>
        <button (click)="enviar()">Cadastrar</button>
        <br/>
        <br/>
        <button (click)="monitorar()">Monitorar</button>        
    <ul>
        <li *ngFor="let p of pessoas">
            {{p.nome + ' ' + p.sobrenome}}
        </li>
    </ul>    
    